* {
  border: none;
  line-height: 1.5em;
  overflow-x: hidden;
}

header {
  width: 99%;
  overflow: hidden;
}

main {
  width: 99%;
}

.nav1 {
  background-color: orangered;
  height: 90px;
}

.nav2 {
  height: 40px;
}

.nav2 li {
  font-size: 1.2em;
  font-weight: 700;
  height: 40px;
}

.nav2 input {
  width: 80px;
  padding-right: 5px;
}

.logo img {
  width: 320px;
  filter: invert(100%);
  padding-top: 10px;
}

.log {
  font-size: 24px;
}

.user {
  width: 20px;
  height: 25px;
}

.btn-subs {
  color: black;
  background-color: goldenrod;
}

.maga {
  font-size: 24px;
}

.news-body h4 {
  color: black;
}

.menu-svg img {
  width: 40px;
  margin-left: 5px;
  filter: invert(50%);
}

.bg-orange {
  background-color: orangered;
  width: 100px;
}

footer li a {
  font-size: 16px;
}

.logo h2 a {
  font-size: 64px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.subscribe button {
  border-radius: 6px;
  font-weight: bold;
  background-color: #ffe53b;
}

.vs {
  width: 32px;
  height: 32px;
  z-index: 2;
}

.vs::before {
  top: calc(50% - 2px);
}

.vs::after {
  top: 50%;
}

.vs::before,
.vs::after {
  position: absolute;
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  left: 0;
  right: 0;
}

.st-img {
  height: 90%;
}

.news {
  margin-top: 20px;
}

.news img {
  width: 96%;
}

.category h6 {
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  font-weight: 800;
}

.link-footer {
  bottom: 0;
  left: 0;
}

.w-90 {
  width: 90%;
}

.us-section-2 {
  width: auto;
  height: 100%;
}

.text-dark {
  color: #000;
  font-weight: 700;
}

.saturate {
  filter: invert(50%);
}

.image-logo img {
  width: 200px;
  height: 60px;
}

.lastf {
  right: 0;
  bottom: 0;
}

.socials-icons a img {
  width: 23px;
  height: 23px;
  margin: 0 5px;
  filter: invert(30%);
}

.lb button {
  width: 150px;
}

.w-30 {
  width: 30%;
}

