.nav1 {
    background-color: orangered;
    height: 70px;
  }
  
  .nav2 {
    height: 40px;
  }
  
  .nav2 li {
    font-size: 1.2em;
    font-weight: 700;
    height: 40px;
  }

  .user {
    width: 20px;
    height: 25px;
  }
  
  .btn-subs {
    color: black;
    background-color: goldenrod;
  }

  .catg-f a {
    bottom: 0;
    color: red;
  }

  .category {
    display: block;
    font: bold 17px/16px "Roboto Condensed",sans-serif;
    color: #f72210;
    text-transform: uppercase;
    padding: 8px 15px 9px;
    background-color: #ffffffe6;
    position: absolute;
    bottom: 5rem;
    left: 0;
    z-index: 1;
  }
  
  .maga {
    font-size: 24px;
  }

  .news-body h4 {
    color: black;
  }
  
  .menu-svg img {
    width: 40px;
    margin-left: 5px;
    filter: invert(50%);
  }
  
  .bg-orange {
    background-color: orangered;
    width: 100px;
  }

.logo h2 {
  font-size: 48px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

  .subscribe button {
    border-radius: 6px;
    font-weight: bold;
    background-color: #ffe53b;
  }
  
  .subscribe button::after,
  .email-btn::after,
  .f-m-t::after,
  .depth-sub::after {
    content: url("https://g.newsweek.com/img/weather/ic-white-arrow.png");
    margin-left: 10px;
    filter: invert(100%);
    background-size: 20%;
  }
  
  .vs {
    width: 32px;
    height: 32px;
    z-index: 3;
  }
  
  .vs::before {
    top: calc(50% - 2px);
  }
  
  .vs::after {
    top: 50%;
  }
  
  .vs::before,
  .vs::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    left: 0;
    right: 0;
  }

  .news{
    margin-top: 20px;
  }
  .news img {
      width: 96%;
  }
  
  .f-img img {
    width: 100%;
  } 
  .category h6 {
    text-align: center;
    padding-top: 7px;
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .link-footer {
    bottom: 0;
    left: 0;
  }

  .w-90 {
    width: 90%;
  }

  .us-section-2 {
    width: auto;
    height: 100%;
  }

  .text-dark {
    color: #000;
    font-weight: 700;
  }

  .saturate { filter: invert(50%);}

  .image-logo img {
    width: 200px;
    height: 60px;
  }

  .socials-icons a img {
    width: 18px;
    height: 18px;
  }

  .lb button {
    width: 150px;
  }

  .w-30 {
    width: 30%;
  }

